/*Importing Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');

/*
choosing color of high contrast and go along with logo
link to the pallet : https://coolors.co/palette/00296b-003f88-00509d-fdc500-ffd500 

light Yello : #ffd500
Darker Yello: #fdc500
Semi-dark-blue :#00509d
darker blue: #003f88
darkest blue : #00296b

*/


/*Overriding the default browswer settings from very generic using Astric */
*{
    margin: 0;
    padding: 0;
    /*to let the elements have width and height as defined regardless the padding and border*/
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color:#ffd500;
    /*display to flex and direction is column to let elements shows under each other*/
    display: flex;
    flex-direction: column;
}

/*unifying header and paragraphs fonts, color letter spacing*/
h1, h2, h3,h4, p{
    font-family: 'Gayathri', sans-serif;
    letter-spacing: 2px;
    color: #00296b;
}

header{
    background-color:#ffffff;
    padding: 0 1rem;
    /*this will make the header section always at the tope*/
    position:fixed;
    z-index: 999;
    box-shadow: 0 5px 5px #ffd500;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gayathri', sans-serif;
}
header>a>img{
    width: 85px;
    height: 85px;
}

a{
    text-decoration: none;
}
/*Applying dropdown for mobile views*/
nav{
    position: absolute;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    padding-left: 10px;
    /*default display for mobile devices*/
    display: none;
    top: 100%; /*let the nav starts at the bottom of its parent**/
}
/*dropdown of menubar*/
#nav-menu-toggle:checked~nav{
    display: block;
}
/*hid the check box since we don't need it to be shown**/
#nav-menu-toggle{
    display: none;
}
.nav-menu-label{
    font-size: 250%;
}

.nav-menu-label i{
    color: #00296b;
    padding: 10px 10px;
}
#menubar{
    letter-spacing: 2px;
    font-size: 110%;
    list-style-type: none;
}
#menubar li{
    margin-bottom: 0.5em;
}
#menubar >li a{
    color:  #00296b;
}
.active-page{
    border-bottom: 2px solid#fdc500;
}


/*main content should make use of most space avalable on the behalf of other elements*/
main{
    background-color: #ffffff;
    /*flex shorthand : flex-grow flex-shrink flex-basis*/
    flex:1 0 auto;
    margin-top: 93px;

}
#clean-energy-hero-img,
#solar-energy-hero-img,
#wind-energy-hero-img,
#hydro-energy-hero-img,
#join-us-hero-img
{
    width: 100%;
    height: 600px;
    
    /*set background clolor in case img not loaded*/
    background-color: lightblue;
    /*short hand syntas path, style, horizonal and vertical / adapt automatically to content*/
    background: url(../images/solarpanel-windmils-snow.jpg) no-repeat center center/cover;
    /*using positon as relative we can position all elements inside this element at defined cordinates*/
    position: relative;
}
#solar-energy-hero-img{
    background: url(../images/darmau.jpg) no-repeat center center/cover;
    
}
#wind-energy-hero-img{
    background: url(../images/nicholas-doherty.jpg) no-repeat center center/cover;
}
#hydro-energy-hero-img{
    background: url(../images/dan-meyers.jpg) no-repeat center center/cover;
}
#join-us-hero-img{
    background: url(../images/bernard-hermant.jpg) no-repeat center center/cover;
}

#home-pg-cover-txt{
    background-color:rgb(255,255,255, .7);
    text-align: center;
    width: 90%;
    /*all text inside this ID must be relative to the parent element and positoned center*/
    position: absolute;
    bottom: 5%;
    left: 5%;
}
#home-pg-cover-txt > h1, #home-pg-cover-txt > p{
    font-size: 140%;
    font-weight: 800;
    padding: 25px;
    color:#00296b;
}
#home-pg-cover-txt > h1{
    font-size: 2rem;
}
.center-vertically{
    height: 1rem;
    line-height: 1rem;
}

/* section 2 clean energy forms*/
#clean-energy-sources{
   width: 95%;
   height:250px;
   margin: 5px auto; 
   display: flex;
   flex-direction: column;
}

.title-center{
    text-align: center;
    padding-top: .7rem;
}
.make-title-bolder{
    font-size: 2rem;
    font-weight: 600
}

#energy-sources-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-grow: 1;
}
.source-title{
    font-size: 1.2rem;
}
.solar-en-circle,
.wind-en-circle,
.hydropower-en-circle{
    width: 33%;
    height: 80%;
    text-align: center;
    vertical-align: middle;
    border: 5px solid #fdc500;
    padding: 5px;
    padding-top: 25px;
    border-radius: 50%;
    font-size: 10px;   
}
.normal-txt{
    font-size: 14px;
}

.wind-en-circle{
    border:5px solid #00296b
}

.hydropower-en-circle{
    border:5px solid aqua
}
.sources-read-more-btn{
    text-decoration: none;
    font-size:15px;
    color: #fdc500;
    display: none;
}

/*Reasong and application fields*/
#reasons-appliction-fields{
    margin: 5px auto;
    margin-top: 95px;
    width: 95%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}

#why-clean-energy,#application-fields{
    width: inherit;
    height: 95%;
    margin: 5px auto;
}
.reasons-and-applications
{
    list-style:inside;
    list-style-type: upper-roman;
    font-size: 1.5rem;
    font-family:'Gayathri', sans-serif; ;
}
#reasons-appliction-fields ul li, #application-fields ul li{
    text-align: left;
    padding: 5px;
    padding-left:25px;
    color: #00509d;
    background-color: rgb(255,213,0, .4);
}

/*Video about green energy*/
#green-enery-video{
    width: 95%;
    height: 450px;
    margin: 5px auto;
    margin-top: 100px;
    text-align: center;
}

#green-enery-video div > iframe{
    border: 5px solid #fdc500;
    width: 95%;
    height: 350px;
}
/*Styling footer*/
footer{
    /*Same background colr as header ~ it may havedifferent color in future styling*/
    background-color: #ffffff;
}
#social-media-links{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 10px;
    font-size: 250%;
    list-style-type: none;
}

#social-media-links i{
    margin: 10px 10px;
    color: #00296b
}


/*Media Queryies for larger screens iPad and onward*/
@media screen and (min-width:768px) {
    /*starting with navigation*/
    nav{
        display: block;
        position: relative;
        padding: 10px;
    }

    #menubar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #menubar li{
        align-self: center;
        padding: 1rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: bolder;
        letter-spacing: 3px;
    }
    .nav-menu-label{
        display: none;
    }

    /*Energy forms section*/
    #clean-energy-sources{
        width: 95%;
        height:500px;
        margin: 5px auto; 
     }

    .make-title-bolder{
        font-size: 3rem;
    }

    .solar-en-circle,
    .wind-en-circle,
    .hydropower-en-circle{
        width: 33.33%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        padding:15px ;
        padding-top: 70px;
        border-radius: 50%;
        position: relative;
    }
    .solar-en-circle{
        background: url(../images/chelsea-wvusc5m.jpg) no-repeat center center/cover;
    }
    .wind-en-circle{
        background: url(../images/camila-fernandez-leon.jpg) no-repeat center center/cover;
    }
    
    .hydropower-en-circle{
        background: url(../images/collab-media.jpg) no-repeat center center/cover;
    }
    .source-title{
        font-size: 2rem;
    }
    .normal-txt,.sources-read-more-btn{
        font-size: 2rem;
    }
    .sources-read-more-btn{
        display: block;
        position: absolute;
        bottom: 25%;
        left: 50px;
        font-family: 'Gayathri', sans-serif;
    }

    /*Reasong and application fields*/
    #reasons-appliction-fields{
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height:400px;
        gap: 10px;
    }

    /*Clean energy video section*/
    #green-enery-video {
        margin-top: 5px;
        height: 500px;
    }
  
}

@media screen and (min-width: 992px) {
    header{
        box-shadow: none;
    }
    #menubar li{
        padding: 0.5rem 1.5rem;
    }
    li a{
        vertical-align: middle;
    }
    li:hover{
        background-color: #fdc500;
    }
    #clean-energy-sources{
        width: 95%;
        height:500px;
        margin: 5px auto; 
     }

    #home-pg-cover-txt{
        background-color: rgb(255,255,255, .7);
        text-align: center;
        width: 60%;
        /*all text inside this ID must be relative to the parent element and positoned center*/
        position: absolute;
        bottom: 25%;
        left: 20%;
    }
    .sources-read-more-btn{
        display: block;
    }

    /* Clean Energy sources*/
    .solar-en-circle,
    .wind-en-circle,
    .hydropower-en-circle{
        max-width: 25%;
        padding:35px ;
        padding-top: 55px;
        border-radius: 50%;
        position: relative;
    }
    .solar-en-circle{
        background: url(../images/chelsea-wvusc5m.jpg) no-repeat center center/cover;
    }
    .wind-en-circle{
        background: url(../images/camila-fernandez-leon.jpg) no-repeat center center/cover;
    }
    
    .hydropower-en-circle{
        background: url(../images/collab-media.jpg) no-repeat center center/cover;
    }
    .source-title{
        font-size: 3.5rem;
    }
    .normal-txt,.sources-read-more-btn{
        font-size: 2rem;
    }
    .sources-read-more-btn{
        display: block;
        position: absolute;
        bottom: 10%;
        left: 35%;
    }
    #reasons-appliction-fields{
        margin-top: 25px;
    }

    /*Video about green energy*/
    #green-enery-video{
        height: 600px;
    }

    #green-enery-video div > iframe{
        border: 5px solid #fdc500;
        width: 992px;
        height: 530px;
    }

    #social-media-links i:hover{
        border-bottom: 1px solid #00296b;
    }
    .fa-square-instagram:hover{
        color: red;
    }
}