/*Overriding the default browswer settings from very generic using Astric */
*{
    margin: 0;
    padding: 0;
    /*to let the elements have width and height as defined regardless the padding and border*/
    box-sizing: border-box;
}

body{
    min-height: 200vh;
    background-color:coral;
    /*display to flex and direction is column to let elements shows under each other*/
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(247, 247, 247);
    padding: 0 1rem;
    /*this will make the header section always at the tope*/
    position:fixed;
    z-index: 999;
    box-shadow: 0 5px 5px rgb(255, 163, 68);
    width: 100%;
}
header>a>img{
    width: 85px;
    height: 85px;
}

a{
    text-decoration: none;
}

#menubar{
    letter-spacing: 2px;
    font-size: 110%;
    list-style-type: none;
}
#menubar li{
    margin-bottom: 0.5em;
}
#menubar >li a{
    color: rgb(97,192,77);
}
.active-page{
    border-bottom: 2px solid RGB(255,163,68);
}


/*main content should make use of most space avalable on the behalf of other elements*/
main{
    background-color: blanchedalmond;
    /*flex shorthand : flex-grow flex-shrink flex-basis*/
    flex:1 0 auto

}
footer{
    background-color: yellowgreen;
}